@page "/login"
@layout HandlesLayout

<PageTitle>Entrar</PageTitle>

<MudGrid Justify="Justify.Center">
    <MudItem xs="12" xl="6" xxl="8" md="6" lg="6" sm="6">
        <MudPaper>
            <div class="d-flex jusify-center pb-8 pt-8">
                <img
                    src="Ilustração%20do%20conceito%20de%20login%20_%20Vetor%20Grátis.jpg"
                    alt="seja bem vindo"
                    width="300"
                />
            </div>
            <DataAnnotationsValidator/>
            <MudTextField
                T="string"
                Label="Email"
                HelperText="campo obrigatório"
                InputType="InputType.Email"/>
            <MudTextField
                T="string"
                Label="Senha"
                HelperText="campo obrigatório"
                InputType="InputType.Password"/>
        </MudPaper>
        <div class="d-flex mt-8">
            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary">Entrar</MudButton>
            <MudSpacer/>
            <MudButton>Cadastrar</MudButton>
        </div>
    </MudItem>
</MudGrid>