@page "/login"

<div class="style_top">
    <MudGrid Justify="Justify.Center" Class="d-flex justify-content-center mt-0">
        <MudItem xs="12" lg="6" xxl="6" xl="6" md="8" sm="12">
            <MudPaper Style="margin-top: 7cm" Elevation="5">
                <div class="mx-5">
                    <MudText Typo="Typo.h2">Login</MudText>
                </div>
                <div class="justify-content-center">
                    <img
                        width="350"
                        src="imagemChecklist.png"/>
                </div>
                <div class="align-content-center justify-content-center">
                    <EditForm />
                    <DataAnnotationsValidator/>
                    <MudTextField
                        T="string"
                        Label="E-mail"
                        HelperText="campo obrigatório"
                        Style="width:50%"
                        InputMode="InputMode.email"/>

                </div>
                <div class="align-content-center justify-content-center">
                    <DataAnnotationsValidator/>
                    <MudTextField
                        T="string"
                        @bind-Value="_passworditem"
                        Label="Password"
                        HelperText="campo obrigatório"
                        Style="width:50%"
                        InputType="@(_showPassword ? InputType.Text : InputType.Password)"
                        Adornment="Adornment.End"
                        AdornmentIcon="@(_showPassword
                                           ? Icons.Material.Filled.Visibility
                                           : Icons.Material.Filled.VisibilityOff)"
                        OnAdornmentClick="@PasswordShowCommand"/>

                </div>
            </MudPaper>
            
        </MudItem>
    </MudGrid>
</div>

@code{

    private string _passworditem = null!;
    private bool _showPassword = false;

    public void PasswordShowCommand()
    { 
        _showPassword = !_showPassword;
    }

}